# config file for game rules
# rules name: Zombies
# rules description: Zombies by Gingerbeard

    teams = team1.cfg;

    gamemode_name = Zombie Fortress
    gamemode_info = Survive the hoards of zombies!

    scripts = KAG.as;
              Zombie_Settings.as;       #Mod settings
              Zombie_Rules.as;          #Generic game
              Zombie_SpawnUndead.as;    #Spawn zombies!
              Zombie_Events.as;         #Game events
              Zombie_Parachutes.as;     #Give parachutes to players when they respawn
              Zombie_Sleepers.as;       #Reconnecting players respawn in their previous blob
              Zombie_PickSpawn.as;      #Pick which spawnpoint to spawn from + parachute option
              Zombie_Respawning.as;     #Respawn players
              Zombie_RespawnRender.as;  #Render time till respawn
              Zombie_SoftBans.as;       #Banned/kicked players become zombies
              Zombie_MergeUndead.as;    #Merge zombies when there is too many of them
              Zombie_PlayerNames.as;    #Custom player name rendering
              Zombie_Scoring.as;        #Sets server information for the scoreboard
              Zombie_SpawnItems.as;     #Give resupply mats to players
              Zombie_Commands.as;       #Chat commands for testing
              Zombie_Targets.as;        #Give targets to zombies
              Zombie_ShowTargets.as;    #Show every zombie's target (debug)
              Zombie_Music.as;          #Ambience
              Zombie_GlobalMessages.as; #Client-side global messages
              Zombie_Trading.as;        #Coins from specific events
              Zombie_Warns.as;          #Admin warning players
              Zombie_Scoreboard.as;     #Custom scoreboard for this gamemode
              SpawnFish.as;
              RequestSpawnOnDeath.as;
              KillMessages.as;
              ChatCommands.as;
              Editor.as;
              RegrowPlants.as;
              PlayerCamera.as;
              BasicHelps.as;
              VoteCore.as;
              DefaultVotes.as;
              WheelMenu.as;
              EmoteMenu.as;
              EmoteBinderMenu.as;
              BuilderBinderMenu.as;
              BindingsMenu.as;
              MechanismsServer.as;
              MechanismsReader.as;

    daycycle_speed = 8 			# 1 day = X minutes; / 0 no cycle
    daycycle_start = 0.2        # 0.0 midnight; 0.5 - midday; 1.0 midnight
	
	can_show_hover_names = no

    attackdamage_modifier = 0.5
    friendlydamage_modifier = 0.0

    restartmap_onlastplayer_disconnect = no

	support_factor = 24
	support_added_vertical = 1
	support_cost_castle = 4
	support_cost_wood = 3
