#Zombie Fortress mapcycle

mapcycle =
Maps/ShallowPasture.png;
Maps/StonyOutlook.png;
Maps/SmogKnob.png;
Maps/SoapyWaters.png;
Maps/SpookyGulch.png;
Maps/ScratchLake.png;
Maps/SkywardBalcony.png;
Maps/Spindels.png;
Maps/Turmeric.png;
Maps/GregPit.png;
Maps/ElBunko.png;
Maps/Eerie.png;
Maps/GoryMonument.png;
Maps/Grout.png;
Maps/HillsOfPlenty.png;
Maps/Catacombs.png;
Maps/StoneMines.png;
Maps/Cryptoid.png;
