# Zombie Fortress server standard variables
# other important variables are listed in gamemode.cfg such as day speed

days_to_survive = 15;      # days players must survive to win, also modifies power creep of zombies
game_difficulty = 1.0;     # zombie spawnrate multiplier (0.5 twice as easy, 2.0 twice as hard)
maximum_zombies = 400;     # maximum amount of zombies allowed on the map at any given time, -1 for no limit
maximum_skelepedes = 4;    # maximum amount of skelepedes to allow on the map at any given time
infinite_days = false;     # decide if the game ends when days_to_survive is reached
merge_zombies = 300        # merge zombies when there is more than this amount, -1 to disable zombie merging